<%- include('../header') %>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <% if(locals.message?.success) {%>
                    <div class="alert alert-success">
                        <%= locals.message?.success %>
                    </div>
                    <% } %>


                        <div class="card shadow-lg border-0 rounded-3 mt-5">
                            <div class="card-header bg-primary text-white text-center">
                                <h4 class="mb-0">Add Subcategory</h4>
                            </div>
                            <div class="card-body p-4">
                                <form action="/subcategory/insertsubcategory" method="post">
                                    <div class="mb-3">
                                        <label for="category" class="form-label fw-bold">Category</label>
                                        <select name="category" class="form-select" required>
                                            <option value="">--- Select Category ---</option>
                                            <% category.map((val) => { %>
                                                <option value="<%= val?.id %>">
                                                    <%= val?.category %>
                                                </option>
                                            <% }) %>
                                        </select>
                                    </div>
                        
                                    <div class="mb-3">
                                        <label for="subcategory" class="form-label fw-bold">Subcategory</label>
                                        <input type="text" name="subcategory" class="form-control" placeholder="Enter Subcategory" required>
                                    </div>
                        
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        

            </div>
        </div>
    </div>

    <%- include('../footer') %>