<%- include('../header') %>
<style>
    thead{
        border-bottom: 1px solid rgba(128, 128, 128, 0.485);
    }
    th{
        padding: 5px 0;
    }
    td{
        padding: 3px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="viewcategorymain " align="center">
            <div class="col-12 mt-4">
                <% if(locals?.message?.success) { %>
                    <div class="alert alert-success w-50" role="alertdialog">
                        <%= locals?.message?.success %>
                    </div>
                <% } %>
    
                <div class="card mt-4 p-2">
                    <div class="card-content">
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th>Category</th>
                                <th>Subcategory</th>
                                <th>Action</th>
                                <th>Status</th>
    
                            </tr>
                        </thead>
                        
    
                        <tbody>
                            <% subcategory.forEach((val,index)=>{ %>
                                <tr>
                                    <td>
                                        <%= ++index %>
                                    </td>
                                    <td>
                                        <%= val?.categoryId?.category%>
                                    </td>
                                    <td>
                                        <%= val?.subcategory %>
                                    </td>
                                    <td>
                                        <a href="/subcategory/deletesubctaegory?id=<%= val?.id %>"
                                            class="btn btn-danger btn-sm">Delete</a>&nbsp;
    
                                        <a href="/subcategory/editsubcategory?id=<%= val?.id %>"
                                            class="btn btn-primary btn-sm">Edit</a>
                                    </td>
                                    <td>
    
                                        <% if(val?.status=="active" ) { %><a
                                                href="/subcategory/changestatus?id=<%= val?.id %>&status=deactive"
                                                class=" btn btn-success btn-sm">
                                                <%= val?.status %>
                                            </a>
                                            <% } else { %>
                                                <a href="/subcategory/changestatus?id=<%= val?.id %>&status=active"
                                                    class="btn btn-warning btn-sm">
                                                    <%= val?.status %>
                                                </a>
                                                <% } %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
    
                    </table>
                </div>
    
            </div>
        </div>
    </div>
</div>

<%- include('../footer') %>