<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div align="center">
        <h2>Edit User</h2>
        <form action="/updateuser" enctype="multipart/form-data" method="post">
            <input type="hidden" name="editid" value="<%=single?.id %>">
            <table>
                <tr>
                    <td>Name:</td>
                    <td>
                        <input type="text" name="name" value="<%= single?.username %>">
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <input type="text" name="email" value="<% single?.useremail %>">
                    </td>
                </tr>

                <tr>
                    <td>Password</td>
                    <td>
                        <input type="text" name="password" value="<% single?.userpassword %>">
                    </td>
                </tr>

                <tr>
                    <td>Gender</td>
                    <td>
                        <input type="radio" <% if(single?.gender=="male" ) { %> checked <% } %> name="gender"
                            value="male">Male
                            <input type="radio" <% if(single?.gender=="female" ) {%> checked <% } %> name="gender"
                                value="female">Female
                    </td>
                </tr>

                <tr>
                    <td>Hobby :- </td>
                    <td>
                        <input type="checkbox" <% if(single?.hobby.includes("dancing")) { %> checked <% } %>
                            name="hobby" value="dancing">dancing
                            <input type="checkbox" <% if(single?.hobby.includes("travelling")) { %> checked <% } %>
                                name="hobby" value="travelling">travelling
                                <input type="checkbox" <% if(single?.hobby.includes("reading")) { %> checked <% } %>
                                    name="hobby" value="reading">reading
                    </td>
                </tr>

                <tr>
                    <td>City :- </td>
                    <td>
                        <select name="city">
                            <option value="">---select city---</option>
                            <% city=["surat","vadodara","gandinagar","rajkot"]; city.map((c)=>{ %>
                                <option <% if(single?.city==c) { %> selected
                                    <% } %> value="<%= c %>">
                                            <%= c %>
                                </option>
                                <% }) %>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>File :- </td>
                    <td>
                        <input type="file" name="image">
                        <img src="<%= single?.image %>" width="120" alt="">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit"></td>
                </tr>

            </table>
        </form>
    </div>
</body>

</html>