<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div align="center">
        <h2>View User</h2>
        <table border="1">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Password</td>
                    <td>Gender</td>
                    <td>Hobby</td>
                    <td>City</td>
                    <td>Image</td>
                    <td>Action</td>
                </tr>
            </thead>

            <tbody>
                <% record.map((val,index)=>{ %>
                    <tr>
                        <td>
                            <%= val?.id %>
                        </td>
                        <td>
                            <%= val?.name %>
                        </td>
                        <td>
                            <%= val?.email %>
                        </td>
                        <td>
                            <%= val?.password %>
                        </td>
                        <td>
                            <%= val?.gender %>
                        </td>
                        <td>
                            <%= val?.hobby %>
                        </td>
                        <td>
                            <%= val?.city %>
                        </td>
                        <td>
                            <img src="<%= val?.image %>" width="100">
                        </td>
                        <td>
                            <a href="/crud/deleterecord?id=<%= val?.id %>">Delete</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <a href="/crud/add">Add</a>
    </div>
</body>
</html>